@import '~styles/variables';
@import '~styles/mixins';

.header {
  display: none;

  @include breakpoint("md") {
    display: flex;
    height: 4rem;
    width: 100%;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1001;
    background-color: transparent;
  }
}

.mobile_nav {
  display: none;

  @include breakpoint("md") {
    @include flex-center();
    position: fixed;
    inset: 0 0 0 0;
    z-index: 999;
    background-color: $primary4;
    color: red;
    text-align: center;
  }

  .nav_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 3rem;

    .nav_item {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: $primary3;
    }
  }
}