@import "../variables.scss";
@import "../mixins.scss";

.about {
  position: relative;
  height: 100svh;
  @include flex-center();
  flex-direction: column;

  @include scrollDown();

  .wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .foto {
      object-fit: cover;
      border-radius: 40%;
      background: rgb(119, 119, 119);
      background: radial-gradient(circle, rgba(119, 119, 119, 1) 13%, rgba(17, 17, 17, 1) 92%);
      filter: brightness(70%);
      margin-bottom: 2rem;
    }

    .content {
      text-align: justify;
      max-width: 45rem;
      line-height: 1.6rem;

      .title {
        color: $primary3;
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 1rem;
        padding: 2rem;
        font-weight: 700;

        @include breakpoint("sm") {
          padding: 0.5rem;
          font-size: 1.2rem;
        }
      }

      .text {
        color: $primary4;
        padding: 1rem 2.5rem;
        line-height: 1.5rem;

        @include breakpoint("sm") {
          line-height: 1.2rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}
