@import "../variables.scss";
@import "../mixins.scss";

.contact {
  height: 100vh;
  @include flex-center();
  flex-direction: column;

  .title {
    color: $primary3;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1rem;
    margin-bottom: 3rem;
    font-weight: 700;

    @include breakpoint("sm") {
      font-size: 1.2rem;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;


    .inputs {
      width: 25rem;
      display: flex;
      flex-direction: column;

      @include breakpoint("sm") {
        width: 80vw;
      }

      .input {
        height: 2rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $primary4;
        background: transparent;
        color: $primary4;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        outline: none;
        transition: all 0.3s ease-in-out;

        &:focus {
          border-bottom: 1px solid $primary5;
        }

        &:focus::placeholder {
          color: transparent;
          transition: all 0.3s ease-in-out;
        }
      }

      .message {

        height: 2rem;
        border-bottom: 1px solid $primary4;
        background: transparent;
        color: $primary4;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        outline: none;
        transition: all 0.3s ease-in-out;

        &:focus {
          border-bottom: 1px solid $primary5;
        }
      }

      .errors {
        color: rgb(216, 5, 5);
        font-size: 0.8rem;
        height: 2rem;
        // background-color: rgb(37, 21, 21);
        text-align: center;
        letter-spacing: 0.2rem;
        padding: 0.5rem;

      }

      .submit_btn {
        margin-top: 3rem;
        padding: 0.5rem 2rem;
        border: $primary4 1px solid;
        background: transparent;
        font-size: 1rem;
        letter-spacing: 0.5rem;
        padding: 1rem;
        color: $primary4;
        box-shadow: 0 0 10px rgba($primary5, 0.2);
        cursor: pointer;

        @include breakpoint("sm") {
          padding: 0.5rem 1rem;
          font-size: 0.8rem;
        }
      }
    }

    .message_sent {
      margin-top: 5rem;
      color: $primary4;
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 1rem;
      font-weight: 700;

      @include breakpoint("sm") {
        font-size: 1.2rem;
      }
    }
  }
}