@import "../variables.scss";
@import "../mixins.scss";

.contact {
  height: 100dvh;
  @include flex-center();
  flex-direction: column;

  .title {
    color: $primary3;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1rem;
    margin-bottom: 3rem;
    font-weight: 700;

    @include breakpoint("sm") {
      font-size: 1.2rem;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;


    .inputs {
      width: 25rem;
      display: flex;
      flex-direction: column;

      @include breakpoint("sm") {
        width: 80vw;
      }

      .input {
        height: 2rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $primary4;
        background: transparent;
        color: $primary4;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        outline: none;
        transition: all 0.3s ease-in-out;

        @include breakpoint("sm") {
          font-size: 0.8rem;
        }

        &:focus {
          border-bottom: 1px solid $primary5;
          background-color: transparent;
        }

        &:focus::placeholder {
          color: transparent;
          transition: all 0.3s ease-in-out;
        }
      }

      .message {
        height: 2rem;
        border-bottom: 1px solid $primary4;
        background: transparent;
        color: $primary4;
        font-size: 1rem;
        line-height: 1.3rem;
        letter-spacing: 0.2rem;
        text-align: justify;
        outline: none;
        resize: vertical;
        font-family: $font-roboto;
        transition: all 0.3s ease-in-out;

        @include breakpoint("sm") {
          font-size: 0.8rem;
        }

        &:focus {
          border-bottom: 1px solid $primary5;
          height: 8rem;
        }

        &:focus::placeholder {
          color: transparent;
          transition: all 0.3s ease-in-out;
        }

        &::-webkit-scrollbar {
          display: none;
        }

      }


      .errors {
        color: rgb(216, 5, 5);
        font-size: 0.8rem;
        height: 2rem;
        text-align: center;
        letter-spacing: 0.2rem;
        padding: 0.5rem;

      }

    }

    .btn_submit {
      margin-top: 2rem;
      @include btn-glowing-shadow($primary2, "SEND");
    }

    .message_sent {
      margin-top: 5rem;
      color: $primary4;
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 1rem;
      font-weight: 700;

      @include breakpoint("sm") {
        font-size: 1.2rem;
      }
    }
  }
}