@import "../variables.scss";
@import "../mixins.scss";

.projects {
  position: relative;
  min-height: 100vh;
  @include flex-center();
  flex-direction: column;

  @include scrollDown();

  .title {
    color: $primary3;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1rem;
    padding: 2rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .card {
      background-color: $primary3;
      display: grid;
      grid-template-columns: 1fr 2fr;
      max-width: 90rem;

      @include breakpoint("md") {
        grid-template-columns: 1fr;
      }

      &:hover {
        .slider {
          .image {
            filter: grayscale(0%);
          }
        }
      }

      .slider {

        .image {
          width: 100%;
          height: 100%;
          filter: grayscale(80%);
          object-fit: cover;
          background-position: bottom;
          transition: all 0.3s ease-in-out;

          @include breakpoint("md") {
            height: 240%;
           
          }
          @include breakpoint("sm") {
            height: 140%;
           
          }
        }

      }

      .content {
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem 0;
        line-height: 1.4rem;


        .name {
          color: $primary4;
          font-size: 1.5rem;
          text-align: center;
          letter-spacing: 1rem;
          line-height: 2rem;
          padding: 0 0 2rem;
        }

        .description {
          color: $primary;
          text-align: justify;
        }

        .features {
          color: $primary;
          padding: 2rem;

          @include breakpoint("sm") {
            padding: 1rem 0;
          }

          .feat_title {
            margin-bottom: 1rem;
            color: $primary4;
          }
        }
      }

      .technologies {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        @include breakpoint("sm") {
          padding: 0 0 1rem;
        }

        .tech_title {
          margin-bottom: 1rem;
          color: $primary4;
        }

        .icons {
          display: flex;
          gap: 1rem;
        }
      }

      .btns {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 0 2rem;
        gap: 3rem;

        @include breakpoint("md") {
          padding: 3rem 2rem;
        }

        @include breakpoint("sm") {
          padding: 2rem 0;
        }

        .btn {
          padding: 0.5rem 2rem;
          border: $primary4 1px solid;
          font-size: 1rem;
          letter-spacing: 0.5rem;
          padding: 1rem;
          color: $primary4;
          box-shadow: 0 0 10px rgba($primary5, 0.2);
        }
      }
    }
  }
}