@import "../variables.scss";
@import "../mixins.scss";

.card {
  background-color: $primary3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 90rem;
  margin-bottom: 10rem;

  @include breakpoint("2lg") {
    grid-template-columns: 1fr;
  }

  &:hover {
    .slider {
      .slide {
        .image {
          filter: grayscale(0%);
        }
      }
    }
  }

  .slider {
    .slide {
      position: relative;
      display: flex;
      .image {
        filter: grayscale(80%);
        object-fit: cover;
        
        transition: all 0.3s ease-in-out;

        @include breakpoint("md") {
          filter: none;
        }

        @include breakpoint("sm") {
          height: 140%;
          filter: none;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem;
    line-height: 1.4rem;

    .name {
      color: $primary5;
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 0.4rem;
      padding: 0 0 2rem;
    }

    .description {
      text-align: justify;
      color: $primary4;
    }

    .features {
      padding: 2rem;
      color: $primary4;

      @include breakpoint("sm") {
        padding: 1rem 0;
      }

      .feat_title {
        margin-bottom: 0.5rem;
        letter-spacing: 0.3rem;
        color: $primary5;
      }

      .feature {
        @include breakpoint("sm") {
          margin-bottom: 0.4rem;
        }
      }
    }

    .technologies {
      display: flex;
      flex-direction: column;
      padding: 0 2rem 2rem;

      @include breakpoint("sm") {
        padding: 0 0 1rem;
      }

      .tech_title {
        margin-bottom: 1rem;
        letter-spacing: 0.3rem;
        color: $primary5;
      }

      .tech_icons {
        display: flex;
        gap: 1rem;
        color: $primary5;
      }
    }

    .btns {
      display: flex;
      align-items: flex-end;
      flex-grow: 1;
      padding: 0 2rem;
      gap: 3rem;

      @include breakpoint("md") {
        padding-top: 2rem;
      }

      @include breakpoint("sm") {
        padding: 2rem 0;
        gap: 2rem;
      }

      .btn_preview {
        @include btn-glowing-shadow($primary3, "PREVIEW");
      }

      .btn_code {
        @include btn-glowing-shadow($primary3, "CODE");
      }
    }
  }
}
