@import 'variables';

*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background-color: $primary;
  font-family: $font-roboto;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  font-weight: normal;

}

h3 {
  font-size: 1.5rem;
  font-weight: normal;

}

h4 {
  font-size: 1rem;
  font-weight: normal;

}

h5 {
  font-size: 0.5rem;
  font-weight: normal;

}

// body {
//   color: rgb(var(--foreground-rgb));
//   background: linear-gradient(to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
// }

a {
  color: inherit;
  text-decoration: none;
}

// ul,
// li {
//   list-style: none;
//   padding: 0;
// }